<!-- Main Logo -->

<img id="mainLogo" src="../assets/images/mainLogo.png" />

<!-- Register component -->

<div class="content" role="main">
  <app-log-in></app-log-in>
</div>

<!-- Bottom Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="KRV Logo" src="../assets/images/logoReverted.png" />
  <span>Version 3.2.1</span>
  <div class="spacer"></div>
  <a class="contact" aria-label="Contact Us" target="_blank" rel="noopener" href="" title="Contact Us">
    <img id="contactUs" src="../assets/images/contactUs.png" alt="Contact Us">
  </a>
</div>

<!-- <router-outlet></router-outlet> -->