<!-- Main logo -->
<img id="mainLogo" src="../../../assets/images/mainLogo.png" />

<!-- Log in form -->
<form class="form" onclick="">
  <input type="text" id="name" name="name" placeholder="User" required>
  <input type="password" id="password" name="password" placeholder="Password">
  <div>
    <input type="submit" id="login" routerLink="/home"/>
    <input type="submit" id="register"/>
  </div>
</form>

<!-- Bottom Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="KRV Logo" src="../../../assets/images/logoReverted.png" routerLink="/version" />
  <span routerLink="/version">Version 1.2.3</span>

  <div class="spacer"></div>
  <a class="contact" title="Contact Us" routerLink="/contact">
    <img src="../../../assets/images/contactUs.png" alt="Contact Us">
  </a>
</div>