<div class="toolbar" role="banner">
    <img src="../../../assets/images/hamburgerMenu.png" routerLink="/menu"/>
    <img src="../../../assets/images/homeMenu.png" id="selected"/>
    <img src="../../../assets/images/searchMenu.png" routerLink="/search" />
</div>

<div class="submenu">
    <h2>Your courses</h2>
</div>

<div id="cards">
    <app-course></app-course>
</div>

<div class="submenu">
    <h2>Settings</h2>
</div>

<div id="logout">
    <button id="logout" routerLink="/login">log out</button>
</div>