$color-empresa: #5065A8;

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-empresa;
    color: white;
    font-weight: 600;
    border-radius: 0 0 1em 1em;
}

.toolbar img {
    align-self:auto;
    width: 10%;
}

#selected {
    
    border-bottom-width: 10px;
    border-color: white;
}