<img id="backArrow" src="../../../assets/images/backArrow.png" routerLink="/login" />

<img id="mainLogo" src="../../../assets/images/logoReverted.png" />

<div class="form">
    <input type="text" name="name" placeholder="Name">
    <div id="mailAgeGroup">
        <input type="email" name="mail" placeholder="Mail">
        <a></a>
        <input type="date" name="age" placeholder="Age">
    </div>
    <input type="" name="subject" placeholder="subject">
    <textarea name="commentary" placeholder="commentary"></textarea>
    <button routerLink="/sent">Send</button>
</div>