$color-empresa: #5065A8;

#backArrow {
    position: absolute;
    width: 15%;
    top: 5%;
}

#mainLogo {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    display: block;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #5065A8;
    border-color: white;
    width: 20em;
    height: 3em;
    margin-bottom: 2em;
    text-align: center;
    font-family: sans-serif;
    color: white;
    border-radius: 1em;
}

#mailAgeGroup {
    // align-items: center;
    align-content: space-between;
}

#mailAgeGroup input {
    width: 45%;
    
}

.form div {
    margin-top: .5em;
}

button {
    width: 9em;
    height: 2.5em;
    margin-right: 1em;
    margin-left: 1em;
    border-color: white;
    border-radius: 3em;
    background-color: white;
    color: $color-empresa;
    border-radius: 1em;
}