#backArrow {
    // position: absolute;
    width: 15%;
    top: 5%;
}

h2 {
    color: white;
    margin-top: 2em;
    margin-left: 1em;
}

p {
    color: white;
    margin-left: 3em;
}

#hwReqs {
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 2em;
    width: 19em;
    margin-left: 2em;
}

#waterMark {
    position: absolute;
    opacity: 50%;
    bottom: 50px;
    left: -70px;
    width: 90%;
}